body {
    font-family: Arial, sans-serif;
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 15px;
}

.tabla {
    border: 1px solid #333;
    padding: 10px;
    background-color: #52bae4;
    
}

.tabla h3 {
    text-align: center;
    margin: 0 0 5px 0;
    background-color: #333;
    color: rgb(241, 194, 38);
    padding: 5px;
    text-align: center;
}

.tabla p {
    margin: 2px 0;
    text-align: center;
}